In [ ]:
""" /* Welcome to the SQL mini project. You will carry out this project partly in
the PHPMyAdmin interface, and partly in Jupyter via a Python connection.

This is Tier 2 of the case study, which means that there'll be less guidance for you about how to setup
your local SQLite connection in PART 2 of the case study. This will make the case study more challenging for you: 
you might need to do some digging, aand revise the Working with Relational Databases in Python chapter in the previous resource.

Otherwise, the questions in the case study are exactly the same as with Tier 1. 

PART 1: PHPMyAdmin
You will complete questions 1-9 below in the PHPMyAdmin interface. 
Log in by pasting the following URL into your browser, and
using the following Username and Password:

URL: https://sql.springboard.com/
Username: student
Password: learn_sql@springboard

The data you need is in the "country_club" database. This database
contains 3 tables:
    i) the "Bookings" table,
    ii) the "Facilities" table, and
    iii) the "Members" table.

In this case study, you'll be asked a series of questions. You can
solve them using the platform, but for the final deliverable,
paste the code for each solution into this script, and upload it
to your GitHub.

Before starting with the questions, feel free to take your time,
exploring the data, and getting acquainted with the 3 tables. */


/* QUESTIONS 
/* Q1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do. */

/* SELECT name FROM Facilities WHERE membercost = 0;
/* Output: name
            Badminton Court
            Table Tennis
            Snooker Table
            Pool Table




/* Q2: How many facilities do not charge a fee to members? */
/* 4 facilities do not charge a fee to members


/* Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question. */

 /* SELECT facid, name AS "facitlity name", membercost AS "member cost", monthlymaintenance AS "monthly maintenance"
FROM Facilities
WHERE membercost < 0.2 * monthlymaintenance;

Output: All 8 facilities fit this description


/* Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator. */

/* "Using the OR operator" 
SELECT * 
FROM Facilities
WHERE facid = 1 OR facid = 5;

/* "Without using the OR operator"
SELECT * 
FROM Facilities
WHERE name LIKE "%2";

/* Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question. */


*/SELECT name, monthlymaintenance AS "monthly maintenance",
    CASE
        WHEN monthlymaintenance > 100 THEN "expensive"
        WHEN monthlymaintenance < 100 THEN "cheap"
        ELSE "moderate"
        END AS CostBin
FROM Facilities;

/* Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution. */

/* SELECT firstname, surname
FROM Members
ORDER BY joindate DESC;

/* Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name. */

SELECT DISTINCT CONCAT(M.firstname, " ", M.surname) AS MemberName, F.name AS FacilityName  
FROM Bookings AS B
LEFT JOIN Members AS M ON B.memid = M.memid
LEFT JOIN Facilities AS F ON F.facid = B.facid
WHERE B.facid = 0 OR B.facid = 1
ORDER BY MemberName;


/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */

SELECT F.name AS Facility, CONCAT(M.firstname, " ",M.surname) AS Member,
	CASE
		WHEN B.memid = 0 THEN B.slots * F.guestcost
    	ELSE B.slots * F.membercost
	END AS Cost
FROM Bookings AS B
LEFT JOIN Members AS M ON M.memid = B.memid
LEFT JOIN Facilities AS F ON F.facid = B.facid
WHERE B.starttime LIKE "2012-09-14%" AND 
	(CASE
		WHEN B.memid = 0 THEN B.slots * F.guestcost
    	ELSE B.slots * F.membercost
	END) > 30
ORDER BY Cost DESC;



/* Q9: This time, produce the same result as in Q8, but using a subquery. */

SELECT *
FROM
(
SELECT F.name AS Facility, CONCAT(M.firstname," ", M.surname) AS Member, B.starttime,
	CASE
    	WHEN M.memid = 0 THEN B.slots * F.guestcost
        ELSE B.slots * F.membercost
    END AS Cost
  FROM Bookings AS B
  LEFT JOIN Members AS M ON M.memid = B.memid
  LEFT JOIN Facilities AS F ON F.facid = B.facid
  WHERE B.starttime LIKE "2012-09-14%"
  ) AS Sub
WHERE Sub.cost > 30
ORDER BY Cost DESC;
"""

In [1]:
""" This is the second part of the project """

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

C:\Users\benpe\AppData\Local\Temp\ipykernel_26896\1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [6]:
# SQL Queries


#QUESTIONS:
#/* Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! */

Q10 = """ SELECT
    Sub.Facility AS "Facility Name",
    (SUM(Sub.Gross) - Sub.MaintenanceCost) AS Revenue
FROM
    (
        SELECT
            F.name AS Facility,
            F.monthlymaintenance AS MaintenanceCost,
            CASE
                WHEN B.memid = 0 THEN B.slots * F.guestcost
                ELSE B.slots * F.membercost
            END AS Gross
        FROM
            Bookings AS B
        LEFT JOIN
            Facilities AS F ON F.facid = B.facid
    ) AS Sub
GROUP BY
    Sub.Facility, Sub.MaintenanceCost
HAVING
    Revenue > 1000
ORDER BY
    Revenue DESC; """

#/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
Q11 = """ SELECT CONCAT(M.surname, ",", M.firstname) AS Member,
    CASE
    WHEN M.recommendedby = "" THEN "N.A."
    WHEN M.recommendedby IS NULL THEN "N.A."
    ELSE CONCAT(R.surname, ",", R.firstname)
    END AS Recommenders
FROM  Members AS M
LEFT JOIN Members AS R ON M.recommendedby = R.memid
ORDER BY Member; """

#
#/* Q12: Find the facilities with their usage by member, but not guests */
Q12 =  """SELECT COUNT(B.bookid) AS MemberUsage,
        F.name AS Facility
FROM Bookings AS B
LEFT JOIN Facilities AS F ON B.facid = F.facid
WHERE B.memid != 0
GROUP BY F.name
ORDER BY MemberUsage DESC; """

#/* Q13: Find the facilities usage by month, but not guests */

Q13 = """ SELECT COUNT(B.bookid) AS MemberUsage,
        F.name AS Facility,
        STRFTIME('%m', B.starttime) AS Month
FROM Bookings AS B
LEFT JOIN Facilities AS F ON B.facid = F.facid
WHERE B.memid != 0
GROUP BY F.name, STRFTIME('%m', B.starttime) 
ORDER BY `Month` ASC """

In [3]:
import pandas as pd

In [10]:
database = "sqlite_db_pythonsqlite.db"
def execute_and_print_query(sql_query):
    
    conn = create_connection(database) # Re-use connection function
    
    if conn is not None:
        try:
            
            conn.row_factory = sqlite3.Row 
            cur = conn.cursor()
            cur.execute(sql_query)
            rows = cur.fetchall()
            
            if rows:
                # Print column headers (from the cursor's description)
                headers = [description[0] for description in cur.description]
                print("{:<30} {:<15}".format(headers[0], headers[1] if len(headers) > 1 else ""))
                print("-" * 45)
                
                # Print the data
                for row in rows:
                    # Accessing columns by index for clean formatting
                    col1 = row[0]
                    col2 = row[1] if len(row) > 1 else ""
                    
                    # Formatting the output nicely
                    if isinstance(col2, (int, float)):
                        print("{:<30} {:<15.2f}".format(col1, col2))
                    else:
                        print("{:<30} {:<15}".format(col1, col2))

            else:
                print("No results found.")

        except Error as e:
            print(f"SQL Error during execution: {e}")
        
        finally:
            if conn:
                conn.close()
    else:
        print("Failed to establish database connection.")

In [11]:
execute_and_print_query(Q10)

2.6.0
Facility Name                  Revenue
---------------------------------------------
Massage Room 1                 47351.60
Tennis Court 2                 14110.00
Tennis Court 1                 13660.00
Squash Court                   13388.00
Massage Room 2                 11454.60
Badminton Court                1856.50

C:\Users\benpe\AppData\Local\Temp\ipykernel_26896\1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [12]:
execute_and_print_query(Q11)

2.6.0
Member                         Recommenders
---------------------------------------------
Bader,Florence                 Stibbons,Ponder
Baker,Anne                     Stibbons,Ponder
Baker,Timothy                  Farrell,Jemima
Boothe,Tim                     Rownam,Tim
Butters,Gerald                 Smith,Darren
Coplin,Joan                    Baker,Timothy
Crumpet,Erica                  Smith,Tracy
Dare,Nancy                     Joplette,Janice
Farrell,David                  N.A.
Farrell,Jemima                 N.A.
GUEST,GUEST                    N.A.
Genting,Matthew                Butters,Gerald
Hunt,John                      Purview,Millicent
Jones,David                    Joplette,Janice
Jones,Douglas                  Jones,David
Joplette,Janice                Smith,Darren
Mackenzie,Anna                 Smith,Darren
Owen,Charles                   Smith,Darren
Pinker,David                   Farrell,Jemima
Purview,Millicent              Smith,Tracy
Rownam,Tim                     N.A.
Rumney,Henrietta               Genting,Matthew
Sarwin,Ramnaresh               Bader,Florence
Smith,Darren                   N.A.
Smith,Darren                   N.A.
Smith,Jack                     Smith,Darren
Smith,Tracy                    N.A.
Stibbons,Ponder                Tracy,Burton
Tracy,Burton                   N.A.
Tupperware,Hyacinth            N.A.
Worthington-Smyth,Henry        Smith,Tracy

C:\Users\benpe\AppData\Local\Temp\ipykernel_26896\1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [13]:
execute_and_print_query(Q12)

2.6.0
MemberUsage                    Facility
---------------------------------------------
783                            Pool Table
421                            Snooker Table
421                            Massage Room 1
385                            Table Tennis
344                            Badminton Court
308                            Tennis Court 1
276                            Tennis Court 2
195                            Squash Court
27                             Massage Room 2

C:\Users\benpe\AppData\Local\Temp\ipykernel_26896\1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [14]:
execute_and_print_query(Q13)

2.6.0
MemberUsage                    Facility
---------------------------------------------
51                             Badminton Court
77                             Massage Room 1
4                              Massage Room 2
103                            Pool Table
68                             Snooker Table
23                             Squash Court
48                             Table Tennis
65                             Tennis Court 1
41                             Tennis Court 2
132                            Badminton Court
153                            Massage Room 1
9                              Massage Room 2
272                            Pool Table
154                            Snooker Table
85                             Squash Court
143                            Table Tennis
111                            Tennis Court 1
109                            Tennis Court 2
161                            Badminton Court
191                            Massage Room 1
14                             Massage Room 2
408                            Pool Table
199                            Snooker Table
87                             Squash Court
194                            Table Tennis
132                            Tennis Court 1
126                            Tennis Court 2

C:\Users\benpe\AppData\Local\Temp\ipykernel_26896\1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)