In [1]:
""" This notebook is used to upload, combine, clean, and prepare data for a MN housing cost prediction. 
Data is from United States - Redfin Housing Market (CSV from Kaggle). Data was downloaded on 11/19/2025 """

' This notebook is used to upload, combine, clean, and prepare data for a MN housing cost prediction. \nData is from United States - Redfin Housing Market (CSV from Kaggle). Data was downloaded on 11/19/2025 '

In [2]:
import pandas as pd

In [3]:
# uploading the data sets MN-1 and MN-2

MN1 = pd.read_csv('MN-1.csv')
MN2 = pd.read_csv('MN-2.csv')

In [4]:
# MN1 table sample
MN1.head()

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,"In accordance with local MLS rules, some MLS l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MLS Listing,NaN,Townhouse,1006 Van White Memorial Blvd,Minneapolis,MN,55411.0,334900.0,3.0,3.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1006-Van...,NORTHSTARMLS as Distributed by MLS Grid,6678953.0,N,Y,44.988599,-93.291941
2,MLS Listing,NaN,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,MN,55408.0,219900.0,1.0,1.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1211-Lag...,NORTHSTARMLS as Distributed by MLS Grid,6762787.0,N,Y,44.948981,-93.294965
3,MLS Listing,NaN,Single Family Residential,9532 Yosemite Rd,Bloomington,MN,55437.0,649900.0,4.0,5.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/9532-Yos...,NORTHSTARMLS as Distributed by MLS Grid,6752088.0,N,Y,44.830344,-93.355163
4,MLS Listing,NaN,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,MN,55426.0,424900.0,2.0,2.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/3251-Lou...,NORTHSTARMLS as Distributed by MLS Grid,6744587.0,N,Y,44.942344,-93.369518

In [5]:
MN1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 27 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   SALE TYPE                                                                                    351 non-null    object
 1   SOLD DATE                                                                                    0 non-null      float64
 2   PROPERTY TYPE                                                                                350 non-null    object
 3   ADDRESS                                                                                      350 non-null    object
 4   CITY                                                                                         350 non-null    object
 5   STATE OR PROVINCE                                                                            350 non-null    object
 6   ZIP OR POSTAL CODE                                                                           350 non-null    float64
 7   PRICE                                                                                        350 non-null    float64
 8   BEDS                                                                                         347 non-null    float64
 9   BATHS                                                                                        347 non-null    float64
 10  LOCATION                                                                                     350 non-null    object
 11  SQUARE FEET                                                                                  347 non-null    float64
 12  LOT SIZE                                                                                     313 non-null    float64
 13  YEAR BUILT                                                                                   347 non-null    float64
 14  DAYS ON MARKET                                                                               350 non-null    float64
 15  $/SQUARE FEET                                                                                347 non-null    float64
 16  HOA/MONTH                                                                                    116 non-null    float64
 17  STATUS                                                                                       350 non-null    object
 18  NEXT OPEN HOUSE START TIME                                                                   89 non-null     object
 19  NEXT OPEN HOUSE END TIME                                                                     89 non-null     object
 20  URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)  350 non-null    object
 21  SOURCE                                                                                       350 non-null    object
 22  MLS#                                                                                         350 non-null    float64
 23  FAVORITE                                                                                     350 non-null    object
 24  INTERESTED                                                                                   350 non-null    object
 25  LATITUDE                                                                                     350 non-null    float64
 26  LONGITUDE                                                                                    350 non-null    float64
dtypes: float64(14), object(13)
memory usage: 74.2+ KB

In [6]:
# MN2 table sample
MN2.head()

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,"In accordance with local MLS rules, some MLS l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MLS Listing,NaN,Single Family Residential,4113 Wild Goose Ln,White Bear Twp,MN,55110.0,524900.0,4.0,3.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Saint-Paul/4113-Wild...,NORTHSTARMLS as Distributed by MLS Grid,6755820.0,N,Y,45.065460,-93.046074
2,MLS Listing,NaN,Condo/Co-op,445 Wacouta St #403,Saint Paul,MN,55101.0,170000.0,1.0,1.0,...,Active,August-2-2025 12:00 PM,August-2-2025 02:00 PM,https://www.redfin.com/MN/Saint-Paul/445-Wacou...,NORTHSTARMLS as Distributed by MLS Grid,6758576.0,N,Y,44.951186,-93.089519
3,MLS Listing,NaN,Multi-Family (2-4 Unit),1122 Dayton Ave,Saint Paul,MN,55104.0,500000.0,8.0,4.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Saint-Paul/1122-Dayt...,NORTHSTARMLS as Distributed by MLS Grid,6757386.0,N,Y,44.947215,-93.147620
4,MLS Listing,NaN,Single Family Residential,2643 1st St,White Bear Twp,MN,55110.0,379900.0,3.0,2.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Saint-Paul/2643-1st-...,NORTHSTARMLS as Distributed by MLS Grid,6756267.0,N,Y,45.100213,-92.988765

In [7]:
MN2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 27 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   SALE TYPE                                                                                    351 non-null    object
 1   SOLD DATE                                                                                    0 non-null      float64
 2   PROPERTY TYPE                                                                                350 non-null    object
 3   ADDRESS                                                                                      350 non-null    object
 4   CITY                                                                                         350 non-null    object
 5   STATE OR PROVINCE                                                                            350 non-null    object
 6   ZIP OR POSTAL CODE                                                                           350 non-null    float64
 7   PRICE                                                                                        350 non-null    float64
 8   BEDS                                                                                         340 non-null    float64
 9   BATHS                                                                                        340 non-null    float64
 10  LOCATION                                                                                     350 non-null    object
 11  SQUARE FEET                                                                                  340 non-null    float64
 12  LOT SIZE                                                                                     303 non-null    float64
 13  YEAR BUILT                                                                                   340 non-null    float64
 14  DAYS ON MARKET                                                                               350 non-null    float64
 15  $/SQUARE FEET                                                                                340 non-null    float64
 16  HOA/MONTH                                                                                    92 non-null     float64
 17  STATUS                                                                                       350 non-null    object
 18  NEXT OPEN HOUSE START TIME                                                                   56 non-null     object
 19  NEXT OPEN HOUSE END TIME                                                                     56 non-null     object
 20  URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)  350 non-null    object
 21  SOURCE                                                                                       350 non-null    object
 22  MLS#                                                                                         350 non-null    float64
 23  FAVORITE                                                                                     350 non-null    object
 24  INTERESTED                                                                                   350 non-null    object
 25  LATITUDE                                                                                     350 non-null    float64
 26  LONGITUDE                                                                                    350 non-null    float64
dtypes: float64(14), object(13)
memory usage: 74.2+ KB

In [8]:
# a total of 27 columns for each table. To combine, its necessary to make sure all columns are the same
total_matching_columns = sum(MN1.columns == MN2.columns)
matching_columns = (MN1.columns == MN2.columns)
print("The matching columns in order are:")
print(matching_columns)
print("The total matching columns are:", total_matching_columns)

The matching columns in order are:
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True]
The total matching columns are: 27

In [9]:
# all columns match and the order matches.
MN_housing = pd.concat([MN1, MN2], axis=0)
MN_housing.head()

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,"In accordance with local MLS rules, some MLS l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MLS Listing,NaN,Townhouse,1006 Van White Memorial Blvd,Minneapolis,MN,55411.0,334900.0,3.0,3.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1006-Van...,NORTHSTARMLS as Distributed by MLS Grid,6678953.0,N,Y,44.988599,-93.291941
2,MLS Listing,NaN,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,MN,55408.0,219900.0,1.0,1.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1211-Lag...,NORTHSTARMLS as Distributed by MLS Grid,6762787.0,N,Y,44.948981,-93.294965
3,MLS Listing,NaN,Single Family Residential,9532 Yosemite Rd,Bloomington,MN,55437.0,649900.0,4.0,5.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/9532-Yos...,NORTHSTARMLS as Distributed by MLS Grid,6752088.0,N,Y,44.830344,-93.355163
4,MLS Listing,NaN,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,MN,55426.0,424900.0,2.0,2.0,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/3251-Lou...,NORTHSTARMLS as Distributed by MLS Grid,6744587.0,N,Y,44.942344,-93.369518

In [10]:
MN_housing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 702 entries, 0 to 350
Data columns (total 27 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   SALE TYPE                                                                                    702 non-null    object
 1   SOLD DATE                                                                                    0 non-null      float64
 2   PROPERTY TYPE                                                                                700 non-null    object
 3   ADDRESS                                                                                      700 non-null    object
 4   CITY                                                                                         700 non-null    object
 5   STATE OR PROVINCE                                                                            700 non-null    object
 6   ZIP OR POSTAL CODE                                                                           700 non-null    float64
 7   PRICE                                                                                        700 non-null    float64
 8   BEDS                                                                                         687 non-null    float64
 9   BATHS                                                                                        687 non-null    float64
 10  LOCATION                                                                                     700 non-null    object
 11  SQUARE FEET                                                                                  687 non-null    float64
 12  LOT SIZE                                                                                     616 non-null    float64
 13  YEAR BUILT                                                                                   687 non-null    float64
 14  DAYS ON MARKET                                                                               700 non-null    float64
 15  $/SQUARE FEET                                                                                687 non-null    float64
 16  HOA/MONTH                                                                                    208 non-null    float64
 17  STATUS                                                                                       700 non-null    object
 18  NEXT OPEN HOUSE START TIME                                                                   145 non-null    object
 19  NEXT OPEN HOUSE END TIME                                                                     145 non-null    object
 20  URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)  700 non-null    object
 21  SOURCE                                                                                       700 non-null    object
 22  MLS#                                                                                         700 non-null    float64
 23  FAVORITE                                                                                     700 non-null    object
 24  INTERESTED                                                                                   700 non-null    object
 25  LATITUDE                                                                                     700 non-null    float64
 26  LONGITUDE                                                                                    700 non-null    float64
dtypes: float64(14), object(13)
memory usage: 153.6+ KB

In [11]:
# concat was successfull, next step is to clean data
# will first look at columns with excessive amount of null values
# All houses in this df are for sale, so there is no sold date --> all are NaN
# 

MN_cleaned = MN_housing.drop(columns=['SOLD DATE'], inplace=False)
MN_cleaned.head()

,SALE TYPE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,"In accordance with local MLS rules, some MLS l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MLS Listing,Townhouse,1006 Van White Memorial Blvd,Minneapolis,MN,55411.0,334900.0,3.0,3.0,Sumner - Glenwood,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1006-Van...,NORTHSTARMLS as Distributed by MLS Grid,6678953.0,N,Y,44.988599,-93.291941
2,MLS Listing,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,MN,55408.0,219900.0,1.0,1.0,Lowry Hill East,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/1211-Lag...,NORTHSTARMLS as Distributed by MLS Grid,6762787.0,N,Y,44.948981,-93.294965
3,MLS Listing,Single Family Residential,9532 Yosemite Rd,Bloomington,MN,55437.0,649900.0,4.0,5.0,Bloomington,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/9532-Yos...,NORTHSTARMLS as Distributed by MLS Grid,6752088.0,N,Y,44.830344,-93.355163
4,MLS Listing,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,MN,55426.0,424900.0,2.0,2.0,Saint Louis Park,...,Active,NaN,NaN,https://www.redfin.com/MN/Minneapolis/3251-Lou...,NORTHSTARMLS as Distributed by MLS Grid,6744587.0,N,Y,44.942344,-93.369518

In [12]:
# Counting NaNs

MN_cleaned.isna().sum()

SALE TYPE                                                                                        0
PROPERTY TYPE                                                                                    2
ADDRESS                                                                                          2
CITY                                                                                             2
STATE OR PROVINCE                                                                                2
ZIP OR POSTAL CODE                                                                               2
PRICE                                                                                            2
BEDS                                                                                            15
BATHS                                                                                           15
LOCATION                                                                                         2
SQUARE FEET                                                                                     15
LOT SIZE                                                                                        86
YEAR BUILT                                                                                      15
DAYS ON MARKET                                                                                   2
$/SQUARE FEET                                                                                   15
HOA/MONTH                                                                                      494
STATUS                                                                                           2
NEXT OPEN HOUSE START TIME                                                                     557
NEXT OPEN HOUSE END TIME                                                                       557
URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)      2
SOURCE                                                                                           2
MLS#                                                                                             2
FAVORITE                                                                                         2
INTERESTED                                                                                       2
LATITUDE                                                                                         2
LONGITUDE                                                                                        2
dtype: int64

In [13]:
# Removing all missing rows for Price. I expect this will remove the NaN values for other columns as well

MN_cleaned.dropna(subset=['PRICE'], inplace = True)
MN_cleaned.isna().sum()

SALE TYPE                                                                                        0
PROPERTY TYPE                                                                                    0
ADDRESS                                                                                          0
CITY                                                                                             0
STATE OR PROVINCE                                                                                0
ZIP OR POSTAL CODE                                                                               0
PRICE                                                                                            0
BEDS                                                                                            13
BATHS                                                                                           13
LOCATION                                                                                         0
SQUARE FEET                                                                                     13
LOT SIZE                                                                                        84
YEAR BUILT                                                                                      13
DAYS ON MARKET                                                                                   0
$/SQUARE FEET                                                                                   13
HOA/MONTH                                                                                      492
STATUS                                                                                           0
NEXT OPEN HOUSE START TIME                                                                     555
NEXT OPEN HOUSE END TIME                                                                       555
URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)      0
SOURCE                                                                                           0
MLS#                                                                                             0
FAVORITE                                                                                         0
INTERESTED                                                                                       0
LATITUDE                                                                                         0
LONGITUDE                                                                                        0
dtype: int64

In [14]:
# All NaN values were removed from most columns. 
# the open house columns are missing 557/700 total rows (80%). Also, I do not see why this would affect housing price. Will remove columns
#  The URL will also be removed

MN_cleaned.drop(columns=['NEXT OPEN HOUSE START TIME', 'NEXT OPEN HOUSE END TIME', 'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)'], inplace=True)
MN_cleaned.isna().sum()

SALE TYPE               0
PROPERTY TYPE           0
ADDRESS                 0
CITY                    0
STATE OR PROVINCE       0
ZIP OR POSTAL CODE      0
PRICE                   0
BEDS                   13
BATHS                  13
LOCATION                0
SQUARE FEET            13
LOT SIZE               84
YEAR BUILT             13
DAYS ON MARKET          0
$/SQUARE FEET          13
HOA/MONTH             492
STATUS                  0
SOURCE                  0
MLS#                    0
FAVORITE                0
INTERESTED              0
LATITUDE                0
LONGITUDE               0
dtype: int64

In [15]:
# determining which columns have only one value or only a couple values

MN_cleaned.nunique()

SALE TYPE               1
PROPERTY TYPE           6
ADDRESS               699
CITY                   20
STATE OR PROVINCE       1
ZIP OR POSTAL CODE     54
PRICE                 304
BEDS                   13
BATHS                   7
LOCATION              101
SQUARE FEET           574
LOT SIZE              243
YEAR BUILT            130
DAYS ON MARKET         40
$/SQUARE FEET         254
HOA/MONTH             165
STATUS                  1
SOURCE                  1
MLS#                  699
FAVORITE                1
INTERESTED              1
LATITUDE              673
LONGITUDE             673
dtype: int64

In [16]:
# will check to see waht the single unique values are for specific columns

singles_subset = MN_cleaned[['SALE TYPE', 'STATE OR PROVINCE', 'STATUS', 'SOURCE', 'FAVORITE', 'INTERESTED']]
print(singles_subset.apply(pd.unique))

     SALE TYPE STATE OR PROVINCE  STATUS  \
0  MLS Listing                MN  Active

                                    SOURCE FAVORITE INTERESTED
0  NORTHSTARMLS as Distributed by MLS Grid        N          Y

In [17]:
# All of these columns can be removed since every value has this information

MN_cleaned.drop(columns=['SALE TYPE', 'STATE OR PROVINCE', 'STATUS', 'SOURCE', 'FAVORITE', 'INTERESTED'], inplace=True)
MN_cleaned.head()

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
1,Townhouse,1006 Van White Memorial Blvd,Minneapolis,55411.0,334900.0,3.0,3.0,Sumner - Glenwood,1505.0,1306.0,2015.0,1.0,223.0,279.0,6678953.0,44.988599,-93.291941
2,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,55408.0,219900.0,1.0,1.0,Lowry Hill East,818.0,23391.0,2006.0,4.0,269.0,376.0,6762787.0,44.948981,-93.294965
3,Single Family Residential,9532 Yosemite Rd,Bloomington,55437.0,649900.0,4.0,5.0,Bloomington,3492.0,19166.0,1974.0,15.0,186.0,NaN,6752088.0,44.830344,-93.355163
4,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,55426.0,424900.0,2.0,2.0,Saint Louis Park,1670.0,126890.0,2007.0,36.0,254.0,811.0,6744587.0,44.942344,-93.369518
5,Townhouse,1315 Douglas Dr N,Golden Valley,55422.0,280000.0,3.0,2.0,Golden Valley,1364.0,139304.0,1966.0,44.0,205.0,375.0,6739597.0,44.993391,-93.360514

In [18]:
MN_cleaned.nunique()

PROPERTY TYPE           6
ADDRESS               699
CITY                   20
ZIP OR POSTAL CODE     54
PRICE                 304
BEDS                   13
BATHS                   7
LOCATION              101
SQUARE FEET           574
LOT SIZE              243
YEAR BUILT            130
DAYS ON MARKET         40
$/SQUARE FEET         254
HOA/MONTH             165
MLS#                  699
LATITUDE              673
LONGITUDE             673
dtype: int64

In [19]:
MN_cleaned.isna().sum()

PROPERTY TYPE           0
ADDRESS                 0
CITY                    0
ZIP OR POSTAL CODE      0
PRICE                   0
BEDS                   13
BATHS                  13
LOCATION                0
SQUARE FEET            13
LOT SIZE               84
YEAR BUILT             13
DAYS ON MARKET          0
$/SQUARE FEET          13
HOA/MONTH             492
MLS#                    0
LATITUDE                0
LONGITUDE               0
dtype: int64

In [20]:
MN_cleaned.describe()

,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
count,700.000000,7.000000e+02,687.000000,687.000000,687.000000,616.000000,687.000000,700.000000,687.000000,208.000000,7.000000e+02,700.000000,700.000000
mean,55264.175714,3.932831e+05,3.203785,2.098981,1822.822416,19965.759740,1948.748180,9.747143,221.548763,592.629808,6.753607e+06,44.967648,-93.197413
std,155.163163,2.938794e+05,1.395260,1.012509,903.810407,71079.901865,38.693975,10.313695,100.949820,415.626101,1.394589e+04,0.064509,0.117748
min,55101.000000,3.500000e+04,0.000000,1.000000,40.000000,14.000000,1864.000000,1.000000,60.000000,4.000000,6.635160e+06,44.796175,-93.406654
25%,55106.000000,2.483750e+05,2.000000,1.000000,1218.000000,4965.000000,1913.500000,2.000000,167.000000,349.000000,6.750814e+06,44.934058,-93.298142
50%,55130.000000,3.274500e+05,3.000000,2.000000,1698.000000,6512.000000,1952.000000,7.000000,204.000000,504.000000,6.757747e+06,44.958734,-93.207122
75%,55417.000000,4.499000e+05,4.000000,3.000000,2164.000000,11336.000000,1981.000000,15.000000,254.000000,724.000000,6.761592e+06,44.989545,-93.095174
max,55445.000000,2.875000e+06,14.000000,12.000000,8295.000000,871025.000000,2026.000000,92.000000,1748.000000,3218.000000,6.765445e+06,45.149058,-92.954192

In [21]:
# There are no HOA values of 0 which would be expected to be a significant number of the values.
# When uploading, it is likely the 0 values were transformed into NaN

MN_cleaned['HOA/MONTH'].fillna(0, inplace=True)
MN_cleaned.isna().sum()

C:\Users\benpe\AppData\Local\Temp\ipykernel_23240\2929447321.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  MN_cleaned['HOA/MONTH'].fillna(0, inplace=True)

PROPERTY TYPE          0
ADDRESS                0
CITY                   0
ZIP OR POSTAL CODE     0
PRICE                  0
BEDS                  13
BATHS                 13
LOCATION               0
SQUARE FEET           13
LOT SIZE              84
YEAR BUILT            13
DAYS ON MARKET         0
$/SQUARE FEET         13
HOA/MONTH              0
MLS#                   0
LATITUDE               0
LONGITUDE              0
dtype: int64

In [22]:
# 5 columns are all missing 13 values. 
# will test to see if they overlap by just searching for 1 set of NaN values

missing13 = MN_cleaned.loc[MN_cleaned['BEDS'].isna(),:]
missing13

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
74,Vacant Land,3949 Douglas Dr N,Crystal,55422.0,139900.0,NaN,NaN,Crystal,NaN,11761.0,NaN,1.0,NaN,0.0,6764728.0,45.028020,-93.360476
86,Vacant Land,1527 Waverly Pl,Minneapolis,55403.0,325000.0,NaN,NaN,Lowry Hill,NaN,6534.0,NaN,1.0,NaN,0.0,6760675.0,44.968599,-93.299472
337,Vacant Land,1917 E Hennepin Ave,Minneapolis,55413.0,657000.0,NaN,NaN,Mid - City Industrial,NaN,24393.0,NaN,9.0,NaN,0.0,6760341.0,44.991927,-93.224405
17,Vacant Land,TBD Park Ave,White Bear Twp,55110.0,175000.0,NaN,NaN,White Bear Twp,NaN,15245.0,NaN,1.0,NaN,0.0,6763698.0,45.099312,-92.987326
128,Vacant Land,1510 Laurel Ave,Saint Paul,55104.0,150000.0,NaN,NaN,Merriam Park/Lexington-Hamline,NaN,5662.0,NaN,8.0,NaN,0.0,6760504.0,44.944804,-93.163945
159,Vacant Land,1279 Ripley Ave,Maplewood,55109.0,84900.0,NaN,NaN,Maplewood,NaN,16117.0,NaN,11.0,NaN,0.0,6758859.0,44.995683,-93.046874
202,Vacant Land,8XX Humboldt Ave,West Saint Paul,55118.0,99000.0,NaN,NaN,West Saint Paul,NaN,6969.0,NaN,15.0,NaN,0.0,6756432.0,44.919105,-93.085508
272,Vacant Land,654 Jessamine Ave E,Saint Paul,55106.0,49900.0,NaN,NaN,Payne-Phalen,NaN,4791.0,NaN,23.0,NaN,0.0,6752680.0,44.974580,-93.072780
273,Vacant Land,954 Galtier St,Saint Paul,55117.0,49900.0,NaN,NaN,North End,NaN,6098.0,NaN,23.0,NaN,0.0,6752677.0,44.970072,-93.110915
274,Vacant Land,697 Virginia St,Saint Paul,55103.0,49900.0,NaN,NaN,Thomas-Dale (Frogtown),NaN,5227.0,NaN,23.0,NaN,0.0,6752663.0,44.962521,-93.114896
300,Vacant Land,482 Stinson St,Saint Paul,55117.0,40000.0,NaN,NaN,North End,NaN,5227.0,NaN,26.0,NaN,0.0,6750201.0,44.969160,-93.120425
326,Vacant Land,562 Western Ave N,Saint Paul,55103.0,35000.0,NaN,NaN,Thomas-Dale (Frogtown),NaN,3484.0,NaN,32.0,NaN,0.0,6746998.0,44.958156,-93.115976
342,Vacant Land,2685 Carver Ave E,Maplewood,55119.0,109900.0,NaN,NaN,Maplewood,NaN,55321.0,NaN,35.0,NaN,0.0,6731224.0,44.901154,-92.986993

In [23]:
# all NaN values for these 5 columns are matched. This may be due to them being vacant land and therefore, they would not have beds or baths or a building.
# This is likely the only vacant land values, and considering this is a housing cost predictor, these values will be removed. 
# Also, there isnt much data on vacant land so any kind of model may not be a good predictor

print(MN_cleaned['PROPERTY TYPE'].value_counts())

PROPERTY TYPE
Single Family Residential    430
Condo/Co-op                  128
Multi-Family (2-4 Unit)       64
Townhouse                     60
Vacant Land                   13
Other                          5
Name: count, dtype: int64

In [24]:
# The only vacant land values are the same as the missing 13 samples. Vacant land will be removed

MN_cleaned = MN_cleaned[MN_cleaned['PROPERTY TYPE'] != 'Vacant Land']
MN_cleaned.isna().sum()

PROPERTY TYPE          0
ADDRESS                0
CITY                   0
ZIP OR POSTAL CODE     0
PRICE                  0
BEDS                   0
BATHS                  0
LOCATION               0
SQUARE FEET            0
LOT SIZE              84
YEAR BUILT             0
DAYS ON MARKET         0
$/SQUARE FEET          0
HOA/MONTH              0
MLS#                   0
LATITUDE               0
LONGITUDE              0
dtype: int64

In [25]:
# Exploring Lot size = NaN

lot_size_0 = MN_cleaned[MN_cleaned['LOT SIZE'].isna()]
lot_size_0

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
16,Townhouse,3810 W 32nd St,Minneapolis,55416.0,635000.0,3.0,3.0,West Maka Ska,2392.0,NaN,1996.0,1.0,265.0,640.0,6765143.0,44.945228,-93.328561
17,Condo/Co-op,111 E Franklin Ave #316,Minneapolis,55404.0,215000.0,1.0,1.0,Whittier,890.0,NaN,1950.0,1.0,242.0,521.0,6765392.0,44.962264,-93.275670
32,Condo/Co-op,110 1st Ave NE Unit F1502,Minneapolis,55413.0,274900.0,1.0,1.0,Nicollet Island - East Bank,926.0,NaN,1983.0,1.0,297.0,996.0,6758046.0,44.987740,-93.258913
47,Single Family Residential,2501 Lowry Ave NE #201,Saint Anthony,55418.0,84500.0,3.0,2.0,Saint Anthony,1216.0,NaN,2020.0,1.0,69.0,0.0,6735469.0,45.015231,-93.224367
71,Condo/Co-op,1235 Yale Pl #1701,Minneapolis,55403.0,364900.0,1.0,1.0,Loring Park,1125.0,NaN,1983.0,1.0,324.0,1272.0,6763289.0,44.971381,-93.279862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Other,1871 Livingston Ave Unit B,West Saint Paul,55118.0,189900.0,2.0,1.0,West Saint Paul,1000.0,NaN,1982.0,30.0,190.0,360.0,6747833.0,44.889826,-93.083612
314,Condo/Co-op,311 Pleasant Ave #501,Saint Paul,55102.0,175000.0,2.0,2.0,Summit-University,1200.0,NaN,1927.0,30.0,146.0,910.0,6746774.0,44.943437,-93.110338
315,Condo/Co-op,406 Wacouta St #207,Saint Paul,55101.0,315000.0,1.0,1.0,Downtown,1050.0,NaN,1905.0,30.0,300.0,771.0,6743658.0,44.950471,-93.087642
336,Condo/Co-op,78 10th St E #3309,Saint Paul,55101.0,185000.0,2.0,1.0,Downtown,863.0,NaN,1987.0,35.0,214.0,945.0,6743062.0,44.950463,-93.095863
339,Condo/Co-op,255 Westview Dr #307,West Saint Paul,55118.0,127500.0,1.0,1.0,West Saint Paul,866.0,NaN,1973.0,35.0,147.0,309.0,6746468.0,44.889194,-93.073952

In [26]:
# The lot size is likely related to the property type being a condo unit or something where the land is not part of the deal.

lot_size_0['PROPERTY TYPE'].value_counts()

PROPERTY TYPE
Condo/Co-op                  59
Townhouse                    16
Single Family Residential     4
Multi-Family (2-4 Unit)       3
Other                         2
Name: count, dtype: int64

In [27]:
lot_size_0['ADDRESS'].value_counts()

ADDRESS
2565 Franklin Ave #211     2
3810 W 32nd St             1
906 Woodlawn Ave Unit A    1
66 9th St E #2315          1
79 Western Ave N #304      1
                          ..
1530 Zarthan Ave S #302    1
350 Ford Rd #3             1
619 8th St SE #115         1
3107 Dupont Ave N          1
255 Westview Dr #307       1
Name: count, Length: 83, dtype: int64

In [28]:
MN_cleaned['PROPERTY TYPE'].value_counts()

PROPERTY TYPE
Single Family Residential    430
Condo/Co-op                  128
Multi-Family (2-4 Unit)       64
Townhouse                     60
Other                          5
Name: count, dtype: int64

In [29]:
# Calculating the percent of each value that is NaN vs not

lot_size_0['PROPERTY TYPE'].value_counts() / MN_cleaned['PROPERTY TYPE'].value_counts() *100

PROPERTY TYPE
Condo/Co-op                  46.093750
Multi-Family (2-4 Unit)       4.687500
Other                        40.000000
Single Family Residential     0.930233
Townhouse                    26.666667
Name: count, dtype: float64

In [30]:
# These NaN values are likely 0 or close to 0. Condos and Townhouses make up the majority of these and may not actually include much land.
# This is where a conversation with a real estate agent would come in handy - will move forward assuming 0

MN_cleaned['LOT SIZE'].fillna(0, inplace=True)
MN_cleaned.isna().sum()

C:\Users\benpe\AppData\Local\Temp\ipykernel_23240\2314542142.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  MN_cleaned['LOT SIZE'].fillna(0, inplace=True)

PROPERTY TYPE         0
ADDRESS               0
CITY                  0
ZIP OR POSTAL CODE    0
PRICE                 0
BEDS                  0
BATHS                 0
LOCATION              0
SQUARE FEET           0
LOT SIZE              0
YEAR BUILT            0
DAYS ON MARKET        0
$/SQUARE FEET         0
HOA/MONTH             0
MLS#                  0
LATITUDE              0
LONGITUDE             0
dtype: int64

In [31]:
# no NaNs exist, now to check length
MN_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 687 entries, 1 to 350
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PROPERTY TYPE       687 non-null    object
 1   ADDRESS             687 non-null    object
 2   CITY                687 non-null    object
 3   ZIP OR POSTAL CODE  687 non-null    float64
 4   PRICE               687 non-null    float64
 5   BEDS                687 non-null    float64
 6   BATHS               687 non-null    float64
 7   LOCATION            687 non-null    object
 8   SQUARE FEET         687 non-null    float64
 9   LOT SIZE            687 non-null    float64
 10  YEAR BUILT          687 non-null    float64
 11  DAYS ON MARKET      687 non-null    float64
 12  $/SQUARE FEET       687 non-null    float64
 13  HOA/MONTH           687 non-null    float64
 14  MLS#                687 non-null    float64
 15  LATITUDE            687 non-null    float64
 16  LONGITUDE           687 non-null    float64
dtypes: float64(13), object(4)
memory usage: 96.6+ KB

In [32]:
# All columns are the same length, now to change the type

column_types = { 'PROPERTY TYPE': 'string',
                'ADDRESS': 'string',
                'CITY': 'string',
                'ZIP OR POSTAL CODE': 'string',
                'PRICE': 'float',
                'BEDS': 'float',
                'BATHS': 'float',
                'LOCATION': 'string',
                'SQUARE FEET': 'float',
                'LOT SIZE': 'float',
                'YEAR BUILT': 'int',
                'DAYS ON MARKET': 'int',
                '$/SQUARE FEET': 'float',
                'HOA/MONTH': 'float',
                'MLS#': 'string',
                'LATITUDE': 'float',
                'LONGITUDE': 'float'}

MN_cleaned = MN_cleaned.astype(column_types)
MN_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 687 entries, 1 to 350
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PROPERTY TYPE       687 non-null    string
 1   ADDRESS             687 non-null    string
 2   CITY                687 non-null    string
 3   ZIP OR POSTAL CODE  687 non-null    string
 4   PRICE               687 non-null    float64
 5   BEDS                687 non-null    float64
 6   BATHS               687 non-null    float64
 7   LOCATION            687 non-null    string
 8   SQUARE FEET         687 non-null    float64
 9   LOT SIZE            687 non-null    float64
 10  YEAR BUILT          687 non-null    int64
 11  DAYS ON MARKET      687 non-null    int64
 12  $/SQUARE FEET       687 non-null    float64
 13  HOA/MONTH           687 non-null    float64
 14  MLS#                687 non-null    string
 15  LATITUDE            687 non-null    float64
 16  LONGITUDE           687 non-null    float64
dtypes: float64(9), int64(2), string(6)
memory usage: 96.6 KB

In [33]:
MN_cleaned.head()

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
1,Townhouse,1006 Van White Memorial Blvd,Minneapolis,55411.0,334900.0,3.0,3.0,Sumner - Glenwood,1505.0,1306.0,2015,1,223.0,279.0,6678953.0,44.988599,-93.291941
2,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,55408.0,219900.0,1.0,1.0,Lowry Hill East,818.0,23391.0,2006,4,269.0,376.0,6762787.0,44.948981,-93.294965
3,Single Family Residential,9532 Yosemite Rd,Bloomington,55437.0,649900.0,4.0,5.0,Bloomington,3492.0,19166.0,1974,15,186.0,0.0,6752088.0,44.830344,-93.355163
4,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,55426.0,424900.0,2.0,2.0,Saint Louis Park,1670.0,126890.0,2007,36,254.0,811.0,6744587.0,44.942344,-93.369518
5,Townhouse,1315 Douglas Dr N,Golden Valley,55422.0,280000.0,3.0,2.0,Golden Valley,1364.0,139304.0,1966,44,205.0,375.0,6739597.0,44.993391,-93.360514

In [34]:
MN_cleaned.tail()

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
346,Single Family Residential,974 County Road C E,Maplewood,55109.0,775000.0,4.0,3.0,Maplewood,3187.0,18687.0,2005,36,243.0,0.0,6737908.0,45.020423,-93.059613
347,Single Family Residential,1377 Clarence St,Saint Paul,55106.0,335000.0,3.0,1.0,Greater East Side,1414.0,8886.0,1957,36,237.0,0.0,6743376.0,44.982821,-93.043414
348,Single Family Residential,138 Dahlia St,Mahtomedi,55115.0,585000.0,6.0,4.0,Mahtomedi,2861.0,12283.0,1990,36,204.0,0.0,6741856.0,45.060845,-92.954192
349,Townhouse,1111 Iris Dr,White Bear Twp,55127.0,450000.0,3.0,3.0,White Bear Twp,2795.0,2918.0,2001,36,161.0,350.0,6730448.0,45.087144,-93.055356
350,Single Family Residential,811 Ashland Ave,Saint Paul,55104.0,795000.0,5.0,3.0,Summit-University,3289.0,4704.0,1900,36,242.0,0.0,6744301.0,44.944264,-93.134408

In [36]:
# data is looking genrally good. will fix index.

MN_cleaned.reset_index(drop=True).head()

,PROPERTY TYPE,ADDRESS,CITY,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE
0,Townhouse,1006 Van White Memorial Blvd,Minneapolis,55411.0,334900.0,3.0,3.0,Sumner - Glenwood,1505.0,1306.0,2015,1,223.0,279.0,6678953.0,44.988599,-93.291941
1,Condo/Co-op,1211 Lagoon Ave #410,Minneapolis,55408.0,219900.0,1.0,1.0,Lowry Hill East,818.0,23391.0,2006,4,269.0,376.0,6762787.0,44.948981,-93.294965
2,Single Family Residential,9532 Yosemite Rd,Bloomington,55437.0,649900.0,4.0,5.0,Bloomington,3492.0,19166.0,1974,15,186.0,0.0,6752088.0,44.830344,-93.355163
3,Condo/Co-op,3251 Louisiana Ave S #201,Saint Louis Park,55426.0,424900.0,2.0,2.0,Saint Louis Park,1670.0,126890.0,2007,36,254.0,811.0,6744587.0,44.942344,-93.369518
4,Townhouse,1315 Douglas Dr N,Golden Valley,55422.0,280000.0,3.0,2.0,Golden Valley,1364.0,139304.0,1966,44,205.0,375.0,6739597.0,44.993391,-93.360514

In [37]:
# save the file for EDA next

MN_cleaned.to_csv('MN_cleaned.csv')